<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recouture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartUpPage.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartUpPage.LoginActivity" />
        <activity android:name=".StartUpPage.SignUpActivity" />
        <activity
            android:name=".HomePage.HomepageActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Outfit.CreateOutfit" />
        <activity android:name=".ShirtGallery.ShirtActivity" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Likes.LikesActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Add.AddActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Profile.EditProfileFragment" />
        <activity android:name=".utils.ClickItemActivity" />
        <activity android:name=".utils.BaseActivity" />
        <activity android:name=".utils.BaseGalleryActivity" />
        <activity android:name=".Outfit.ViewOutfits" />
        <activity android:name=".Outfit.Click_Outfit" />
        <activity android:name=".Calendar.ViewPlanned" />
        <activity android:name=".Outfit.PlanOutfit" />
        <activity android:name=".Outfit.ConfirmPlan"></activity>
        <activity android:name=".SleevelessGallery.SleevelessActivity"></activity>
        <activity android:name=".Outfit.ConfirmPlan" />
        <activity android:name=".Outfit.SaveOutfit"></activity>
        <activity android:name=".SweaterGallery.SweaterActivity">
        </activity>
        <activity android:name=".PantsGallery.PantsActivity">
        </activity>
        <activity android:name=".Outfit.SaveOutfit" />
        <activity android:name=".Posts.ViewPost"></activity>
        <activity android:name=".OuterwearGallery.OuterwearActivity">
        </activity>
        <activity android:name=".ShortsGallery.ShortsActivity">
        </activity>
        <activity android:name=".DressGallery.DressActivity">
        </activity>
        <activity android:name=".SkirtsGallery.SkirtActivity">
        </activity>
        <activity android:name=".BagsGallery.BagActivity">
        </activity>
        <activity android:name=".AccessoriesGallery.AccessoriesActivity">
        </activity>
        <activity android:name=".SwimwearGallery.SwimwearActivity">
        </activity>
        <activity android:name=".ShoesGallery.ShoesActivity">
        </activity>
        
    </application>

</manifest>